/* final */
/* #wall .tag-1, .parent {
  display: none;
}

div#wall #tag-2 {
  display: none;
}

div#wall #tag-3.slick.wicked {
  display: none;
} */

/* semi final */
#wall .tag-1 {
  display: none;
}
#wall .parent {
  display: none;
}
div#wall #tag-2 {
  display: none;
}
div#wall #tag-3.slick.wicked {
  display: none;
}
